.mainDiv
{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(9, 9, 121);
    opacity: 0.5;
    border-radius: 9px;
    margin: 3vh;

}


.Pname
{

}