.mainDiv {
  width: 40%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.496);
  border-radius: 12px;
  margin-bottom: 12px;
}

.mainDiv > h1 {
  font-size: 2.5rem;
  margin-top: 2%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.quantity {
  width: 60%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}

.quantity > input {
  width: 60%;
  height: 100%;
  border-radius: 8px;
  text-align: center;
  border: none;
  color: white;
  background-color: rgba(5, 5, 71, 0.5);
}

@media screen and (max-width: 800px) {
  .mainDiv {
    width: 100%;
  }
  .quantity > input {
    height: 60%;
    font-size: 1.5rem;
  }
}
