.MainNav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 3vh;
}

.MainNav > div > h1 {
  font-family: "Audiowide", cursive;
}

#lgbtn {
  margin-left: 3vh;
  background-color: rgb(9, 9, 121, 0.5);
}

#smAddbtn {
  display: none;
}

@media screen and (max-width: 500px) {
  #Addbtn {
    display: none;
  }

  #smAddbtn {
    display: inline;
    background-color: rgb(9, 9, 121, 0.5);
  }
}
