.AdminPanel {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.products {
  width: 90%;
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: scroll;
  border: 1px solid white;
  border-radius: 30px;
}

/* Hide scrollbar in webkit-based browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
::-moz-scrollbar {
  display: none;
}
