.AdminPanel {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(9, 9, 121, 0.5);
}

.products {
  width: 90%;
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
}

/* For Webkit browsers (Safari, Chrome, etc.) */
::-webkit-scrollbar {
  width: 15px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.496); /* color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(9, 9, 121, 0.5); /* color of the thumb */
  border-radius: 5px; /* rounded corners */
  border: none; /* border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color of the thumb on hover */
}

/* For Firefox */
scrollbar {
  width: 10px; /* width of the scrollbar */
}

scrollbar-track {
  background: rgba(255, 255, 255, 0.496); /* color of the track */
}

scrollbar-thumb {
  background-color: rgb(9, 9, 121, 0.5); /* color of the thumb */
  border-radius: 5px; /* rounded corners */
  border: none; /* border around the thumb */
}

scrollbar-thumb:hover {
  background-color: #555; /* color of the thumb on hover */
}
